.container {
  display: flex;
  gap: 100px;
}

.imageContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 200px);
}
.image {
  object-fit: cover;
  object-position: center center;
}
.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.title {
  font-size: 64px;
}
.details {
  display: flex;
  gap: 20px;
}
.avatar {
  object-fit: cover;
  border-radius: 50%;
}
.detailText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detailTitle {
  color: gray;
  font-weight: bold;
}
.content {
  font-size: 20px;
}

@media (max-width: 768px) {
  .imageContainer {
    display: none;
  }
  .title {
    font-size: 32px;
  }
  .details {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 20px;
  }
}
