.container {
  display: flex;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--textSoft);
}

.logo {
  font-weight: bold;
}

.text {
  font-size: smaller;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
}
